<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="{{ path('home') }}">LA BOUTIQUE</a></li>
        <li class="navbar-item"><a href="{{ path('workshops') }}">LES ATELIERS</a></li>
        <li class="navbar-item"><a href="{{ path('events') }}">EVENTS</a></li>
        <li class="navbar-item"><a href="{{ path('cafe_muxx') }}">CAFÉ MUXX</a></li>
        <li class="navbar-item"><a href="{{ path('shop_agencee') }}">AGENCEE.SHOP</a></li>
        <li class="navbar-item"><a href="{{ path('press') }}">PRESSE</a></li>
        <li class="navbar-item"><a href="{{ path('article') }}">LE BLOG</a></li>
        <li class="navbar-item"><a href="https://www.instagram.com/votrecompteinstagram/" target="_blank"><img src="{{ asset('images/instagram.png') }}" alt="Instagram"></a></li>
    </ul>
</nav>